@import url('./index.css');

* {
    box-sizing: border-box;
}

#body {
    /* border: 5px solid blue; */
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: var(--lightgray);

    margin: 0;
    margin-top: 4rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    /* height: calc(100vh - 10rem); */
}

#credit-content {
    /* border: 5px dashed red; */

    display: flex;
    flex-direction: column;

    background-color: var(--gray);
    border: 2px solid var(--darkgray);

    padding: 1rem;
    padding-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 10px;
    height: calc(100vh - 10rem);

    overflow: auto;
}

#credit-title {
    text-decoration: underline;
}

#credit-content h2 {

    font-size: 1.25rem;
    margin-top: 2rem;
}

#credit-thanks-list {
    font-family: monospace;
}

#bahaha-devs {
    font-family: monospace;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
}

.bahaha-dev {
    /* border: 1px dashed blueviolet; */
    width: 150px;
}

#bahaha-devs img {
    width: 50px
}


#img-agathe-artiste-schandel {
    /* border: 5px dashed greenyellow; */
    
    /* background-image: url("../img/ait_cover.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 70%; */
    height: calc(100vh - 10rem);
    text-align: center;
}

#image {
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
    height: auto;
    width: auto;
}

#retour {
    padding: 10px;
    border-radius: 5px;
    border: none;

    cursor: pointer;
    background-color: var(--darkgray);
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    text-shadow: 2px 2px var(--gray);
}