@import url('./main.css');

#deconnexion-title {
    text-align: center;
}


#croix-deco {
    width: 10%;
    top: 6%;
    left: 91%;
    height: 3%;
}


#deconnexion-player {
    background-color: var(--gray);
    box-shadow: 10px 10px 10px var(--darkgray);

    position: absolute;
    top: 40%;
    left: 40%;

    padding: 1rem;
}


#deconnexion-player input {
    background-color: var(--darkgray);
    color: var(--white);

    width: 100%;
    padding: 10px;

    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    text-shadow: 2px 2px var(--gray);
}

#deconnexion-player input:hover {
    color: var(--red);
}


#deconnexion-buttons {
    
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-gap: 1rem;
}