@import url('./main.css');

#main-grid-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#game-name {
    font-size: 3rem;
    text-align: left;
}

#game-name h1 {
    margin-left: 5rem;
    text-shadow: 5px 5px var(--darkgray);
    font-weight: 700;
}


#game-buttons {
    display: grid;
    align-items: center;
    justify-content: center;
}


#game-buttons button {
    padding: var(--space-width);
    margin-bottom: 1.5rem;
    width: 35rem;

    font-size: 2rem;
    text-shadow: 2px 2px var(--darkgray);

    background-color: var(--gray);

    border-style: solid;
    border-width: 6px;
    border-color: var(--lightgray) var(--darkgray) var(--darkgray) var(--lightgray);
    
    box-shadow: 5px 5px var(--darkgray);
}

#game-buttons button:active {
    border-width: 8px 4px 4px 8px;
    box-shadow: 4px 4px var(--darkgray), 6px 6px var(--lightgray);
}
