@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');


body {
    background-color: #36393e;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}


#main-grid-column {
    /* border: dotted red 2px; */

    margin-top: 10%;
    display: grid;
    grid-template-columns: 50fr 50fr;
}


#game-name {
    /* border: 2px dotted yellow; */

    font-size: 3rem;
}


#game-name h1 {
    margin-left: 5rem;
    padding: 1rem;
    border-radius: 5px;
    text-shadow: 5px 5px #1e2124;
}


#game-buttons {
    /* border: 2px dotted blue; */

    display: grid;
    align-items: center;
    justify-content: center;
}


#game-buttons input {
    padding: 2rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    cursor: pointer;

    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px #1e2124;

    background-color: #282b30;

    border-left: 7px solid #36393e;
    border-top: 7px solid #36393e;
    box-shadow: 7px 7px #1e2124;

    border-right: transparent;
    border-bottom: transparent;
}

#game-buttons input:hover {
    
    color: rgb(149, 2, 2);
}

#game-buttons input:active {
    
    border-left: 9px solid #36393e;
    border-top: 9px solid #36393e;
    box-shadow: 5px 5px #1e2124;
}
  