@import url('./main.css');

.number {
    text-align: center;
}

.name {
    text-align: right;
}

.time {
    text-align: left;
}

table, tr, td {
    border-collapse: collapse;
    padding: calc(var(--space-height) /10) calc(var(--space-width) /10);
}

.active {
    color: var(--red);
}
