@import url('./main.css');

#titre-niv {
    margin: auto;
}

.number {
    text-align: center;
}

.name {
    text-align: right;
}

.time {
    text-align: left;
}

table, tr, td {
    border-collapse: collapse;
    padding: 0.1rem 0.25rem;
}

#scores, #leaderboard-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#scores {
    margin: var(--space-height) auto;
    max-width: 100%;
}

#leaderboard-buttons {
    gap: 1rem;
}

.active {
    color: var(--red);
}