@import url('./main.css');

h1 {
    margin-top: 0;
    margin-bottom: var(--space-height);
}

#main-content {
    flex-direction: row;
    width: 40%;
    min-width: 350px;
    max-width: 800px;
    gap: var(--space-width);
}

#login, #register {
    flex: 1;
}

input[type=submit] {
    margin-top: var(--space-height);
    width: 100%;
}

.error {
    color: red;
}
