@import url('./index.css');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginRegister {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    width: 40%;
    max-width: 800px;
    margin: auto;
    background-color: var(--gray);
    box-shadow: 10px 10px 10px var(--darkgray);
    padding: 1rem;
}

#login {
    flex: 1;
    padding: 20px;
}

#register {
    flex: 1;
    padding: 20px;
}

#loginFormulaire, #registerFormulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginFormulaire input[type=text], #registerFormulaire input[type=text], #loginFormulaire input[type=password], #registerFormulaire input[type=password]{
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;

    background-color: var(--lightgray);
    color: var(--white);
}

#loginFormulaire input[type=submit], #registerFormulaire input[type=submit] {
    margin-bottom: 10px;
    margin-top: 1rem;
    width: 110%;
    padding: 10px;
    border-radius: 5px;

    cursor: pointer;
    background-color: var(--darkgray);
    color: var(--white);
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 2px 2px var(--gray);
}

#loginFormulaire input[type=submit]:hover, #registerFormulaire input[type=submit]:hover {

    color: var(--red);
}
