@import url('https://fonts.googleapis.com/css?family=Rubik:500,600,700&display=swap');

:root {
    --lightgray: #36393e;
    --gray: #282b30;
    --darkgray: #1e2124;
    --white: #F0F0F0;
    --black: #0F0F0F;
    --red: #950202;

    --space-height: 1rem;
    --space-width: calc(var(--space-height) *2);
    --max-height: calc(100vh - calc(var(--space-height) *7));

    --border-type: 2px solid var(--darkgray);
}

* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

body {
    background-color: var(--lightgray);
    color: var(--white);
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

iframe {
    /*
    iframe has minimum dimension of 300px / 150px.
    To ensure that they don't cover main elements, we try to redefine these dimensions
    This has failed but is still there in case
    */
    width: auto;
    height: auto;
    object-fit: cover;
    border: none;
}

/* This makes the a in iframes not hoverable */
/* a:not(#cancel-cross-a), */
a, button, input {
    color: var(--white);
}

a:hover,
button:hover,
button:active,
input[type=submit]:hover,
input[type=submit]:active {
    color: var(--red);
    cursor: pointer;
}

a {
    text-decoration: none;
    text-align: center;
}

button, input {
    padding: 7px;
    font-size: 1rem;

    /* Make this common to a anchors as well */
    /* Because of cancel-cross iframe default dimensions, we ensure that it don't cover interactible elements, we set them at higher z-index */
    position: relative;
    z-index: 1;
}

button, input[type=submit] {
    background-color: var(--darkgray);
    text-transform: uppercase;
}

input:not([type=submit]) {
    background-color: var(--lightgray);
    font-weight: 500;
    width: 100%;
}

input:focus {
    outline: none;
}

nav {
    margin: var(--space-height) auto 0 auto;
    max-width: 100%;
}

#body {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    margin-top: 4rem;
    padding: var(--space-height) var(--space-width);
    height: var(--max-height);
    overflow: auto;
}

#body * {
    border-radius: 10px;
}

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--gray);
    border: var(--border-type);

    padding: var(--space-height) var(--space-width);

    position: relative;
    margin: auto;

    max-height: var(--max-height);
    overflow: auto;
}

#bahaha-header {
    /* Because of iframe default dimensions, we ensure that it don't cover main elements, we set them at lower z-index */
    z-index: -1;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

#bahaha-footer {
    /* Because of iframe default dimensions, we ensure that it don't cover main elements, we set them at lower z-index */
    z-index: -1;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#cancel-cross {
    position: absolute;
    /* Those values are doubled in practice, because it takes place once in the original body and once in the iframe body */
    top: 8px;
    right: 8px;
}

#title {
    text-align: center;
    margin: 0 auto var(--space-height) auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: var(--space-height);
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--space-width);
}

#game-over {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--black);
}

#game-over img {
    margin-top: 10rem;
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
    right: 50%;
}

#game-over-buttons {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 32fr 15fr 5fr 15fr 32fr;
}

#game-over input {
    padding: 1rem;
}


#game-canvas {
    background-color: var(--black);
}

.game-canvas-inside {
    width: 800px;
    height: 600px;
    margin: auto;
    margin-top: 4rem;
    aspect-ratio: 4/3;
}


.heart-image {
    height: 2rem;
    position: absolute;
    right: 1rem;
}


#dialogue-area {
    visibility: hidden;

    background-color: var(--black);
    border: 3px solid var(--white);
    height: 150px;
    width: 500px;
    
    position: absolute;
    top: 575px;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: 10fr 90fr;
    align-items: center;
}

#dialogue-area-pp {
    padding: 1rem;
    height: 50px;
}

.right-dialogue-area {
    padding: 1rem;
    display: grid;
}

.right-bottom-dialogue-area {
    text-align: right;
}

#enter-key {
    height: 20px;
}

.minor-answer-1:hover, .minor-answer-2:hover {
    color: var(--red);
    cursor: pointer;
}


#lvl5-objectifs {
    visibility: hidden;

    position: absolute;
    left: 1rem;
    top: 5rem;
}

#lvl5-objectifs ul {
    font-family: monospace;
    margin-left: -1.5rem;
    font-size: 0.9rem;
}

#lvl5-objectifs-2 {
    visibility: hidden;
}


.tuto {
    position: absolute;
    z-index: 1;

    top: 45%;
    left: 0;
    text-align: center;
    width: 100%;

    font-size: 1.5rem;
    
    display: grid;
    grid-template-columns: 40fr 1fr 40fr;
    align-items: center;
}

.tuto #tuto-deplacement-left {
    text-align: right;
}

.tuto img {
    margin: 1rem;
}

.tuto #tuto-deplacement-right {
    text-align: left;
}


.hole {
    position: absolute;
    width: 120px;
    height: 120px;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, .95);
    border-radius: 100%;
  }
