@import url('./main.css');

#deconnexion-title {
    text-align: center;
}


#croix-pop-up-new-game {
    width: 7%;
    top: 4%;
    left: 94%;
    height: 3%;
}


#pop-up-new-game {
    background-color: var(--gray);

    position: absolute;
    top: 35%;
    left: 35%;

    padding: 1rem;
}


#pop-up-new-game-subtitle {
    margin-bottom: var(--space-height);
}

#pop-up-new-game-title, #pop-up-new-game-subtitle {
    text-align: center;
}


#pop-up-new-game input {
    background-color: var(--darkgray);
    color: var(--white);

    width: 100%;
    padding: 10px;
}

#pop-up-new-game input:hover {
    color: var(--red);
}


#pop-up-new-game-buttons {
    
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-gap: 1rem;
}
