@import url('./index.css');

#deconnexion-title {
    text-align: center;
}


#croix-pop-up-new-game {
    width: 7%;
    top: 4%;
    left: 94%;
    height: 3%;
}


#pop-up-new-game {
    /* border: 1px dashed crimson; */

    background-color: var(--gray);
    box-shadow: 10px 10px 10px var(--darkgray);

    position: absolute;
    top: 35%;
    left: 35%;

    padding: 1rem;
    border-radius: 5px;
}


#pop-up-new-game-subtitle {
    margin-bottom: 2rem;
}

#pop-up-new-game-title, #pop-up-new-game-subtitle {
    text-align: center;
}


#pop-up-new-game input {
    background-color: var(--darkgray);
    color: var(--white);

    width: 100%;
    padding: 10px;
    border-radius: 5px;

    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 2px 2px var(--gray);
}

#pop-up-new-game input:hover {
    color: var(--red);
}


#pop-up-new-game-buttons {
    
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-gap: 1rem;
}
