<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <style>
        @import url("../../CSS/index.css");

        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 0.5rem;
            
            text-align: center;
            font-family: monospace;
            font-weight: 400;
        
            border-top: var(--border-type);    
            background-color: var(--gray);
        }
    </style>
</head>
<body>
    <footer>
        Jeu développé par <span class="bahaha-studio"><a href="../credits.html" target="_parent">Bahaha_studio</a></span>
    </footer>
</body>
</html>
