<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../CSS/index.css">
    <style>
        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 0.5rem;
            
            text-align: center;
            font-family: monospace;
        
            border-top: 2px solid var(--darkgray);    
            background-color: var(--gray);
        }

        .bahaha-studio {
            font-family: 'Rubik', sans-serif;
        }
    </style>
</head>
<body>
    <footer>
        Jeu développé par <span class="bahaha-studio"><a href="../credits.html" target="_parent">Bahaha_studio</a></span>
    </footer>
</body>
</html>
